<html>
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">
<link href="css/color-picker.min.css" rel="stylesheet">
<script src="../vue.js"></script>
<script src="js/color-picker.min.js"></script>
<script src="https://kit.fontawesome.com/247ab50e3d.js"></script>
<body>
<div id="app">
    <div class="tunning" v-if="currentTab == 8">
        <h1 class="title-right"><i class="fas fa-angle-left" @click="currentTab = 0" style="font-size: 24px; float: left; margin-top: -3px;margin-right: 10px;"></i> Tunning</h1>
        <div v-for="(tun, i) in tunning" class="dropdown" @click="toggleTunning(tun.title)">
            {{ tun.title }}
            <div class="dropdown-data" v-bind:id="tun.title">
                <li v-for="(d, j) in tun.data" @click="setTunning(d.model, d.value)">
                    {{ d.title }}
                </li>
            </div>
        </div>
    </div>
    <div class="panel" v-if="currentTab != 8">
        <div class="panel-head">
            <h1>Interface</h1>
            <div class="close" @click="exit">X</div>
        </div>
        <div class="panel-body" style="width: 70%; float: left; background: #fff">
            <div class="items">
                <div class="item" @click="currentTab = 5">
                    <img src="images/walk.png">
                    <span class="title">Style de marche</span>
                </div>
                <div class="item" @click="currentTab = 6">
                    <img src="images/smile.png">
                    <span class="title">Style d'humeur</span>
                </div>
                <div class="item" @click="currentTab = 1">
                    <img src="images/backpack.png">
                    <span class="title">Inventaire</span>
                </div>
                <div class="item" @click="currentTab = 2" v-if="target.guid">
                    <img src="images/give-money.png">
                    <span class="title">Donner de l'argent</span>
                </div>
                <div class="item" @click="currentTab = 3"
                     v-if="player.faction == 1 && player.working == 1 && target.guid">
                    <img src="images/id-card.png">
                    <span class="title">Carte d'identité</span>
                </div>
                <div class="item" @click="currentTab = 4"
                     v-if="((player.faction == 1 && player.working == 1) || player.adminLvl >= 1) && vehicle.guid">
                    <img src="images/license-plate.png">
                    <span class="title">Carte grise</span>
                </div>
                <div class="item" @click="setRepair()"
                     v-if="(player.faction == 2 || player.faction == 3) && player.working == 1 && vehicle.guid">
                    <img src="images/tools.png">
                    <span class="title">Réparer</span>
                </div>
                <div class="item" @click="initColor()" v-if="(player.faction == 2 || player.faction == 3) && player.working == 1 && player.rank >= 3 && vehicle.guid">
                    <img src="images/spray.png">
                    <span class="title">Couleur</span>
                </div>
                <div class="item" @click="setCuff(1)"
                     v-if="player.faction == 1 && player.working == 1 && target.cuffed == 0 && target.guid">
                    <img src="images/handcuffs.png">
                    <span class="title">Menotter</span>
                </div>
                <div class="item" @click="setCuff(0)"
                     v-if="player.faction == 1 && player.working == 1 && target.cuffed == 1 && target.guid">
                    <img src="images/handcuffs.png">
                    <span class="title">Démenotter</span>
                </div>
                <div class="item" @click="currentTab = 9"
                    v-if="player.faction == 1 && player.working == 1 && player.rank >= 4 && target.guid">
                    <img src="images/gun.png">
                    <span class="title">Port d'arme</span>
                </div>
                <div class="item" @click="currentTab = 10"
                    v-if="player.faction == 1 && player.working == 1 && target.guid">
                    <img src="images/search.png">
                    <span class="title">Fouiller</span>
                </div>
                <div class="item" @click="newConfiscate()"
                    v-if="player.faction == 1 && player.working == 1 && player.rank >= 2 && target.guid">
                    <img src="images/hold.png">
                    <span class="title">Confisquer les armes</span>
                </div>
                <div class="item" @click="newJail()"
                    v-if="player.faction == 1 && player.working == 1 && player.rank >= 2 && target.guid">
                    <img src="images/prison.png">
                    <span class="title">Mettre en prison</span>
                </div>
                <div class="item" @click="currentTab = 11"
                    v-if="player.faction == 1 && player.working == 1 && player.rank >= 2 && target.guid">
                    <img src="images/danger.png">
                    <span class="title">Délits</span>
                </div>
                <div class="item" @click="setDestroy()"
                     v-if="player.adminLvl >= 3 && vehicle.guid">
                    <img src="images/destroy.png">
                    <span class="title">Détruire</span>
                </div>
                <div class="item" @click="currentTab = 8" v-if="(player.faction == 2 || player.faction == 3) && player.working == 1 && player.rank >= 4 && vehicle.guid">
                    <img src="images/spoiler.png">
                    <span class="title">Tunning</span>
                </div>
            </div>
        </div>
        <div class="panel-body"
             style="width: 30%; float: right; text-align: center; padding: 10px; height: calc(100% - 35px); overflow-y: scroll;">
            <!-- INVENTAIRE -->
            <div v-if="currentTab == 1">
                <h1 class="title-right">Inventaire</h1>
            </div>
            <!-- DONNER DE L'ARGENT -->
            <div v-if="currentTab == 2">
                <h1 class="title-right">Don d'argent</h1>
                <p class="p-right">Vous allez donner de l'argent à {{ target.firstName }} {{ target.lastName }}</p>
                <input type="text" v-model="moneyToGive" oninput="this.value = Math.abs(this.value)">
                <button type="button" class="btn-valid" @click="giveMoney()">Valider</button>
            </div>
            <!-- CARTE D'IDENTITE -->
            <div v-if="currentTab == 3">
                <h1 class="title-right">Carte d'identité</h1>
                <p class="p-right"><b>Prénom :</b> {{ target.firstName }} <br> <b>Nom :</b> {{ target.lastName }}<br><b>Permis port d'arme :</b> {{ target.permis ? 'oui' : 'non' }}<br><br><b>Délits : </b> {{ target.delits.length }}
                    <br><br><b>GUID :</b> {{ target.guid }}</b></p>
            </div>
            <!-- CARTE GRISE -->
            <div v-if="currentTab == 4">
                <h1 class="title-right">Carte grise</h1>
                <p class="p-right"><b>Modèle :</b> {{ vehicle.title }}</b><br><b>Plaque :</b> {{ vehicle.number }}</b>
                    <br><br><b>Propriétaire :</b> {{ vehicle.ownerName }}</b></p>
            </div>
            <!-- STYLE DE MARCHE -->
            <div v-if="currentTab == 5">
                <h1 class="title-right">Style de marche</h1>
                <a v-for="(walk, i) in walkingStyle" class="walk-style" @click="setWalking(i)">
                    {{ walk.name }}
                </a>
            </div>
            <!-- STYLE DE HUMEUR -->
            <div v-if="currentTab == 6">
                <h1 class="title-right">Style d'humeur</h1>
                <a v-for="(mood, i) in moodStyle" class="walk-style" @click="setMood(i)">
                    {{mood.name }}
                </a>
            </div>
            <!-- COULEUR VEHICULE-->
            <div v-if="currentTab == 7">
                <h1 class="title-right">Couleur du véhicule</h1>
                <br>
                <p class="p-right">Couleur primaire :</p>
                <input type="text" v-model="color1" id="color1">
                <br><br><br>
                <p class="p-right">Couleur secondaire :</p>
                <input type="text" v-model="color2" id="color2">
                <br><br>
                <button type="button" class="btn-valid" @click="setColor()">Valider</button>
            </div>
            <!-- PERMIS PORT D'ARME -->
            <div v-if="currentTab == 9">
                <h1 class="title-right">Permis port d'armes</h1>
                <p class="p-right">Vous allez {{ target.permis ? 'retirer' : 'donner' }} le permis port d'arme à {{ target.firstName }} {{ target.lastName }}</p>
                <button type="button" class="btn-valid" @click="giveGunLicence()">Valider</button>
            </div>
            <!-- FOUILLE -->
            <div v-if="currentTab == 10">
                <h1 class="title-right">Fouille</h1>
                <div v-for="(wep, i) in target.pWeapons">
                    <p>{{ wep.hash | weaponName }}</p>
                </div>
            </div>
            <!-- DELITS -->
            <div v-if="currentTab == 10">
                <h1 class="title-right">Délits</h1>
                <p class="p-right">Liste des délits de {{ target.firstName }} {{ target.lastName }}</p>
                <div v-for="(delit, i) in target.delits">
                    <p>{{ delit }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    const app = new Vue({
            el: '#app',
            data: {
                currentTab: 0,
                target: [],
                vehicle: [],
                player: [],
                moneyToGive: 0,
                color1: '#000000',
                color2: '#000000',
                walkingStyle: [
                    {name: "Normal", animset: null},
                    {name: "Brave", animset: "move_m@brave"},
                    {name: "Homosexuel", animset: "move_m@confident"},
                    {name: "Bourré", animset: "move_m@drunk@verydrunk"},
                    {name: "Gros", animset: "move_m@fat@a"},
                    {name: "Gangster", animset: "move_m@shadyped@a"},
                    {name: "Pressé", animset: "move_m@hurry@a"},
                    {name: "Injured", animset: "move_m@injured"},
                    {name: "Intimité", animset: "move_m@intimidation@1h"},
                    {name: "Rapide", animset: "move_m@quick"},
                    {name: "Triste", animset: "move_m@sad@a"},
                    {name: "Gros dur", animset: "move_m@tool_belt@a"}
                ],
                moodStyle: [
                    {name: "Normal", animname: null},
                    {name: "Aiming", animname: "mood_aiming_1"},
                    {name: "Angry", animname: "mood_angry_1"},
                    {name: "Drunk", animname: "mood_drunk_1"},
                    {name: "Happy", animname: "mood_happy_1"},
                    {name: "Injured", animname: "mood_injured_1"},
                    {name: "Stressed", animname: "mood_stressed_1"},
                    {name: "Sulking", animname: "mood_sulk_1"},
                ],
                tunning : [
                    {
                        title: "Spoiler",
                        data: [
                            {title: "Spoiler -1", model: 0, value: -1},
                            {title: "Spoiler 0", model: 0, value: 0},
                            {title: "Spoiler 1", model: 0, value: 1},
                            {title: "Spoiler 2", model: 0, value: 2},
                            {title: "Spoiler 3", model: 0, value: 3},
                            {title: "Spoiler 4", model: 0, value: 4},
                            {title: "Spoiler 5", model: 0, value: 5},
                            {title: "Spoiler 6", model: 0, value: 6},
                            {title: "Spoiler 7", model: 0, value: 7},
                            {title: "Spoiler 8", model: 0, value: 8},
                        ]   
                    },
                    {
                        title: "Bumber avant",
                        data: [
                            {title: "Bumper -1", model: 1, value: -1},
                            {title: "Bumper 0", model: 1, value: 0},
                            {title: "Bumper 1", model: 1, value: 1},
                            {title: "Bumper 2", model: 1, value: 2},
                            {title: "Bumper 3", model: 1, value: 3},
                            {title: "Bumper 4", model: 1, value: 4},
                            {title: "Bumper 5", model: 1, value: 5},
                            {title: "Bumper 6", model: 1, value: 6},
                            {title: "Bumper 7", model: 1, value: 7},
                            {title: "Bumper 8", model: 1, value: 8},
                            {title: "Bumper 9", model: 1, value: 9},
                            {title: "Bumper 10", model: 1, value: 10},
                        ]   
                    },
                    {
                        title: "Bumber arrière",
                        data: [
                            {title: "Bumper -1", model: 2, value: -1},
                            {title: "Bumper 0", model: 2, value: 0},
                            {title: "Bumper 1", model: 2, value: 1},
                            {title: "Bumper 2", model: 2, value: 2},
                            {title: "Bumper 3", model: 2, value: 3},
                            {title: "Bumper 4", model: 2, value: 4},
                            {title: "Bumper 5", model: 2, value: 5},
                            {title: "Bumper 6", model: 2, value: 6},
                            {title: "Bumper 7", model: 2, value: 7},
                            {title: "Bumper 8", model: 2, value: 8},
                            {title: "Bumper 9", model: 2, value: 9},
                            {title: "Bumper 10", model: 2, value: 10},
                        ]   
                    },
                    {
                        title: "Bumber côtés",
                        data: [
                            {title: "Bumper -1", model: 3, value: -1},
                            {title: "Bumper 0", model: 3, value: 0},
                            {title: "Bumper 1", model: 3, value: 1},
                            {title: "Bumper 2", model: 3, value: 2},
                            {title: "Bumper 3", model: 3, value: 3},
                            {title: "Bumper 4", model: 3, value: 4},
                            {title: "Bumper 5", model: 3, value: 5},
                            {title: "Bumper 6", model: 3, value: 6},
                            {title: "Bumper 7", model: 3, value: 7},
                            {title: "Bumper 8", model: 3, value: 8},
                            {title: "Bumper 9", model: 3, value: 9},
                            {title: "Bumper 10", model: 3, value: 10},
                        ]   
                    },
                    {
                        title: "Échappement",
                        data: [
                            {title: "Échapemment -1", model: 4, value: -1},
                            {title: "Échapemment 0", model: 4, value: 0},
                            {title: "Échapemment 1", model: 4, value: 1},
                            {title: "Échapemment 2", model: 4, value: 2},
                            {title: "Échapemment 3", model: 4, value: 3},
                            {title: "Échapemment 4", model: 4, value: 4},
                            {title: "Échapemment 5", model: 4, value: 5},
                            {title: "Échapemment 6", model: 4, value: 6},
                            {title: "Échapemment 7", model: 4, value: 7},
                            {title: "Échapemment 8", model: 4, value: 8},
                            {title: "Échapemment 9", model: 4, value: 9},
                            {title: "Échapemment 10", model: 4, value: 10},
                        ]   
                    },
                    {
                        title: "Châssis",
                        data: [
                            {title: "Châssis -1", model: 5, value: -1},
                            {title: "Châssis 0", model: 5, value: 0},
                            {title: "Châssis 1", model: 5, value: 1},
                            {title: "Châssis 2", model: 5, value: 2},
                            {title: "Châssis 3", model: 5, value: 3},
                            {title: "Châssis 4", model: 5, value: 4},
                            {title: "Châssis 5", model: 5, value: 5},
                            {title: "Châssis 6", model: 5, value: 6},
                            {title: "Châssis 7", model: 5, value: 7},
                            {title: "Châssis 8", model: 5, value: 8},
                            {title: "Châssis 9", model: 5, value: 9},
                            {title: "Châssis 10", model: 5, value: 10},
                        ]   
                    },
                    {
                        title: "Grille",
                        data: [
                            {title: "Grille -1", model: 6, value: -1},
                            {title: "Grille 0", model: 6, value: 0},
                            {title: "Grille 1", model: 6, value: 1},
                            {title: "Grille 2", model: 6, value: 2},
                            {title: "Grille 3", model: 6, value: 3},
                            {title: "Grille 4", model: 6, value: 4},
                            {title: "Grille 5", model: 6, value: 5},
                            {title: "Grille 6", model: 6, value: 6},
                            {title: "Grille 7", model: 6, value: 7},
                            {title: "Grille 8", model: 6, value: 8},
                            {title: "Grille 9", model: 6, value: 9},
                            {title: "Grille 10", model: 6, value: 10},
                        ]   
                    },
                    {
                        title: "Capot",
                        data: [
                            {title: "Capot -1", model: 7, value: -1},
                            {title: "Capot 0", model: 7, value: 0},
                            {title: "Capot 1", model: 7, value: 1},
                            {title: "Capot 2", model: 7, value: 2},
                            {title: "Capot 3", model: 7, value: 3},
                            {title: "Capot 4", model: 7, value: 4},
                            {title: "Capot 5", model: 7, value: 5},
                            {title: "Capot 6", model: 7, value: 6},
                            {title: "Capot 7", model: 7, value: 7},
                            {title: "Capot 8", model: 7, value: 8},
                            {title: "Capot 9", model: 7, value: 9},
                            {title: "Capot 10", model: 7, value: 10},
                        ]   
                    },
                    {
                        title: "Aileron gauche",
                        data: [
                            {title: "Aileron gauche -1", model: 8, value: -1},
                            {title: "Aileron gauche 0", model: 8, value: 0},
                            {title: "Aileron gauche 1", model: 8, value: 1},
                            {title: "Aileron gauche 2", model: 8, value: 2},
                            {title: "Aileron gauche 3", model: 8, value: 3},
                            {title: "Aileron gauche 4", model: 8, value: 4},
                            {title: "Aileron gauche 5", model: 8, value: 5},
                            {title: "Aileron gauche 6", model: 8, value: 6},
                            {title: "Aileron gauche 7", model: 8, value: 7},
                            {title: "Aileron gauche 8", model: 8, value: 8},
                            {title: "Aileron gauche 9", model: 8, value: 9},
                            {title: "Aileron gauche 10", model: 8, value: 10},
                        ]   
                    },
                    {
                        title: "Aileron droit",
                        data: [
                            {title: "Aileron droit -1", model: 9, value: -1},
                            {title: "Aileron droit 0", model: 9, value: 0},
                            {title: "Aileron droit 1", model: 9, value: 1},
                            {title: "Aileron droit 2", model: 9, value: 2},
                            {title: "Aileron droit 3", model: 9, value: 3},
                            {title: "Aileron droit 4", model: 9, value: 4},
                            {title: "Aileron droit 5", model: 9, value: 5},
                            {title: "Aileron droit 6", model: 9, value: 6},
                            {title: "Aileron droit 7", model: 9, value: 7},
                            {title: "Aileron droit 8", model: 9, value: 8},
                            {title: "Aileron droit 9", model: 9, value: 9},
                            {title: "Aileron droit 10", model: 9, value: 10},
                        ]   
                    },
                    {
                        title: "Toit",
                        data: [
                            {title: "Toit Standard", model: 10, value: -1},
                            {title: "Toit 0", model: 10, value: 0},
                            {title: "Toit 1", model: 10, value: 1},
                            {title: "Toit 2", model: 10, value: 2},
                            {title: "Toit 3", model: 10, value: 3},
                            {title: "Toit 4", model: 10, value: 4},
                            {title: "Toit 5", model: 10, value: 5},
                            {title: "Toit 6", model: 10, value: 6},
                            {title: "Toit 7", model: 10, value: 7},
                            {title: "Toit 8", model: 10, value: 8},
                            {title: "Toit 9", model: 10, value: 9},
                            {title: "Toit 10", model: 10, value: 10},
                        ]   
                    },
                    {
                        title: "Moteur",
                        data: [
                            {title: "Moteur Standard", model: 11, value: -1},
                            {title: "Moteur Niveau 1", model: 11, value: 0},
                            {title: "Moteur Niveau 2", model: 11, value: 1},
                            {title: "Moteur Niveau 3", model: 11, value: 2},
                            {title: "Moteur Niveau 4", model: 11, value: 3},
                        ]   
                    },
                    {
                        title: "Freins",
                        data: [
                            {title: "Freins Standard", model: 12, value: -1},
                            {title: "Freins Street", model: 12, value: 0},
                            {title: "Freins Sport", model: 12, value: 1},
                            {title: "Freins Course", model: 12, value: 2},
                        ]   
                    },
                    {
                        title: "Transmission",
                        data: [
                            {title: "Transmission -1", model: 13, value: -1},
                            {title: "Transmission 0", model: 13, value: 0},
                            {title: "Transmission 1", model: 13, value: 1},
                            {title: "Transmission 2", model: 13, value: 2},
                        ]   
                    },
                    {
                        title: "Klaxon",
                        data: [
                            {title: "Klaxon -1", model: 14, value: -1},
                            {title: "Klaxon 0", model: 14, value: 0},
                            {title: "Klaxon 1", model: 14, value: 1},
                            {title: "Klaxon 2", model: 14, value: 2},
                            {title: "Klaxon 3", model: 14, value: 3},
                            {title: "Klaxon 4", model: 14, value: 4},
                            {title: "Klaxon 5", model: 14, value: 5},
                            {title: "Klaxon 6", model: 14, value: 6},
                            {title: "Klaxon 7", model: 14, value: 7},
                            {title: "Klaxon 8", model: 14, value: 8},
                            {title: "Klaxon 9", model: 14, value: 9},
                            {title: "Klaxon 10", model: 14, value: 10},
                        ]   
                    },
                    {
                        title: "Suspension",
                        data: [
                            {title: "Suspension Standard", model: 15, value: -1},
                            {title: "Suspension Basse", model: 15, value: 0},
                            {title: "Suspension Street", model: 15, value: 1},
                            {title: "Suspension Sport", model: 15, value: 2},
                            {title: "Suspension Course", model: 15, value: 3},
                        ]   
                    },
                    {
                        title: "Turbo",
                        data: [
                            {title: "Pas de turbo", model: 18, value: -1},
                            {title: "Turbo Tuning", model: 18, value: 0},
                        ]   
                    },
                    {
                        title: "Xenon",
                        data: [
                            {title: "Phares Standard", model: 22, value: -1},
                            {title: "Phares Xenon", model: 22, value: 0},
                        ]   
                    },
                    {
                        title: "Jantes",
                        data: [
                            {title: "Jantes -1", model: 23, value: -1},
                            {title: "Jantes 0", model: 23, value: 0},
                            {title: "Jantes 1", model: 23, value: 1},
                            {title: "Jantes 2", model: 23, value: 2},
                            {title: "Jantes 3", model: 23, value: 3},
                            {title: "Jantes 4", model: 23, value: 4},
                            {title: "Jantes 5", model: 23, value: 5},
                            {title: "Jantes 6", model: 23, value: 6},
                            {title: "Jantes 7", model: 23, value: 7},
                            {title: "Jantes 8", model: 23, value: 8},
                            {title: "Jantes 9", model: 23, value: 9},
                            {title: "Jantes 10", model: 23, value: 10},
                            {title: "Jantes 11", model: 23, value: 11},
                            {title: "Jantes 12", model: 23, value: 12},
                            {title: "Jantes 13", model: 23, value: 13},
                            {title: "Jantes 14", model: 23, value: 14},
                            {title: "Jantes 15", model: 23, value: 15},
                            {title: "Jantes 16", model: 23, value: 16},
                            {title: "Jantes 17", model: 23, value: 17},
                            {title: "Jantes 18", model: 23, value: 18},
                            {title: "Jantes 19", model: 23, value: 19},
                            {title: "Jantes 20", model: 23, value: 20},
                            {title: "Jantes 21", model: 23, value: 21},
                            {title: "Jantes 22", model: 23, value: 22},
                            {title: "Jantes 23", model: 23, value: 23},
                            {title: "Jantes 24", model: 23, value: 24},
                            {title: "Jantes 25", model: 23, value: 25},
                            {title: "Jantes 26", model: 23, value: 26},
                            {title: "Jantes 27", model: 23, value: 27},
                            {title: "Jantes 28", model: 23, value: 28},
                            {title: "Jantes 29", model: 23, value: 29},
                            {title: "Jantes 30", model: 23, value: 30},
                            {title: "Jantes 31", model: 23, value: 31},
                            {title: "Jantes 32", model: 23, value: 32},
                            {title: "Jantes 33", model: 23, value: 33},
                            {title: "Jantes 34", model: 23, value: 34},
                        ]   
                    }
                ],
            },
            filters: {
                 weaponName: function(str) {
                    switch(str) {
                        case 2460120199:
                            result = 'Dague de cavalerie antique';
                            break;
                        case 2508868239:
                            result = 'Batte';
                            break;
                        case 4192643659:
                            result = 'Bouteille cassée';
                            break;
                        case 2227010557:
                            result = 'Pied de biche';
                            break;
                        case 2343591895:
                            result = 'Lampe torche';
                            break;
                        case 1141786504:
                            result = 'Club de golf';
                            break;
                        case 1317494643:
                            result = 'Marteau';
                            break;
                        case 4191993645:
                            result = 'Hachette';
                            break;
                        case 3638508604:
                            result = 'Poing américain';
                            break;
                        case 2578778090:
                            result = 'Couteau';
                            break;
                        case 3713923289:
                            result = 'Machette';
                            break;
                        case 3756226112:
                            result = 'Couteau';
                            break;
                        case 1737195953:
                            result = 'Mattraque';
                            break;
                        case 419712736:
                            result = 'Clé anglaise';
                            break;
                        case 453432689:
                            result = 'Pistolet';
                            break;
                        case 3219281620:
                            result = 'Pistolet MK2';
                            break;
                        case 1593441988:
                            result = 'Pistolet de Combat';
                            break;
                        case 2578377531:
                            result = 'Desert Eagle';
                            break;
                        case 324215364:
                            result = 'UZI';
                            break;
                        case 4024951519:
                            result = 'SMG d\'assaut';
                            break;
                        case 487013001:
                            result = 'Fusil à pompe';
                            break;
                        case 2828843422:
                            result = 'Musket';
                            break;
                        default: 
                            result = 'Arme illégale en ville';
                            break;
                    }
                    return result;
                }
            },
            methods: {
                toggleTunning: function(elem) {
                    var element = document.getElementById(elem);
                    element.classList.toggle("active");
                },
                setTunning: function(model, value) {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setTunning", model, value);
                },
                newJail: function() {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setJail");
                    this.exit();
                },
                newConfiscate: function() {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-newConfiscate");
                    this.exit();
                },
                initColor: function () {
                    this.currentTab = 7;
                    setTimeout(function(){
                        var picker = new CP(document.getElementById('color1'));
                        picker.on("change", function (color) {
                            this.source.value = '#' + color;
                        });


                        var picker2 = new CP(document.getElementById('color2'));
                        picker2.on("change", function (color) {
                            this.source.value = '#' + color;
                        });
                    }, 500)
                },

                hexToRgb: function hexToRgb(hex) {
                    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                    return result ? {
                        r: parseInt(result[1], 16),
                        g: parseInt(result[2], 16),
                        b: parseInt(result[3], 16)
                    } : null;
                },
                setWalking: function (walking) {
                    this.walkingStyle[walking].animset;

                    mp.trigger("cMisc-CallServerEvent", "sInterface-setWalking", this.walkingStyle[walking].animset);

                    this.exit();
                },
                setMood: function (mood) {
                    this.moodStyle[mood].animname;

                    mp.trigger("cMisc-CallServerEvent", "sInterface-setMood", this.moodStyle[mood].animname);

                    this.exit();
                },
                giveGunLicence: function() {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-giveGunLicence");
                    this.exit();
                },
                giveMoney: function () {
                    const data = {
                        money: this.moneyToGive,
                    }
                    mp.trigger("cMisc-CallServerEvent", "sInterface-giveMoney", JSON.stringify(data));
                    this.exit();
                },
                setCuff: function (cuffed) {
                    const data = {
                        cuffed: cuffed,
                    }
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setCuff", JSON.stringify(cuffed));
                    this.exit();
                },
                setRepair: function () {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setRepair");
                    this.exit();
                },
                setDestroy: function () {
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setDestroy");
                    this.exit();
                },
                setColor: function () {
                    var color1 = document.getElementById('color1');
                    var color2 = document.getElementById('color2');
                    const data = {
                        color1: {
                            r: this.hexToRgb(color1.value).r,
                            g: this.hexToRgb(color1.value).g,
                            b: this.hexToRgb(color1.value).b,
                        },
                        color2: {
                            r: this.hexToRgb(color2.value).r,
                            g: this.hexToRgb(color2.value).g,
                            b: this.hexToRgb(color2.value).b,
                        }
                    };
                    mp.trigger("cMisc-CallServerEvent", "sInterface-setColor", JSON.stringify(data));
                    this.exit();
                },
                playerInfos: function (str) {
                    this.player = JSON.parse(str);
                },
                targetPlayer: function (str) {
                    this.target = JSON.parse(str);
                },
                targetVehicle: function (str) {
                    this.vehicle = JSON.parse(str);
                    // alert(this.vehicle.numberPlate);
                },
                exit: function () {
                    mp.trigger("cCloseCef");
                },
            }
        })
    ;
</script>


