<html>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/main.css">
	<script src="../../vue.js"></script>
	<body>
		<div id="app" class="panel">
			<div class="panel-header">
				<h1 class="panel-title">{{ title }} №{{ id }}</h1>
				<div class="btn-close" id="close-button" @click="exit">X</div>
			</div>
			<div class="panel-body">
				<div class="item" v-for="car of cars">
					<img :src="'img/' + car.model + '.jpg'">
					<div class="item-info">
						<div class="model">{{ car.title }}</div>
						<div class="veh-info_props">
							<div class="veh-info_prop">
								<img src="../../Menu/img/fuel.png">
								<span>{{ car.fuelTank }} L</span>
							</div>
							<div class="veh-info_prop">
								<img src="../../Menu/img/price-tag.png">
								<span style="color: #00b894;">${{ prettify(car.price + car.price * margin / 400) }}</span>
							</div>
							<div class="veh-info_prop">
								<img src="../../Menu/img/motor.png">
								<span>{{ car.fuelRate }}L / 100 km</span>
							</div>
						</div>
						<a class="veh-item" @click="car.buy = !car.buy" :class="[{ lefted: car.buy }]">
							<span @click="buyCar(car.model)">Acheter</span>
						</a>
					</div>
				</div>
				<!-- <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) #b2bec3', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}" class="item">
					<div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
						<table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>{{ modelText }}</td>
								<td class="right">{{ car.title }}</td>
							</tr>
							<tr>
								<td>{{ fuelTankText }}</td>
								<td class="right">{{ car.fuelTank }} L</td>
							</tr>
							<tr>
								<td>{{ fuelRateText }}</td>
								<td class="right">{{ car.fuelRate }} L/100 km</td>
							</tr>
							<tr class="buy" @click="buyCar(car.model)">
								<td>{{ priceText }}</td>
								<td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
							</tr>
						</table>
					</div>
				</div> -->
			</div>
		</div>
		<!-- <div id="app">
			<div class="b3-close" id="close-button" @click="exit">X</div>
			<div class="title" id="id">{{ title }} №{{ id }}</div>
			<div class="content">
			   <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) center', 'background-size': 'cover' }" class="item">
				  <div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
					 <table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
						<tr>
						   <td>{{ modelText }}</td>
						   <td class="right">{{ car.title }}</td>
						</tr>
						<tr>
						   <td>{{ fuelTankText }}</td>
						   <td class="right">{{ car.fuelTank }} L</td>
						</tr>
						<tr>
						   <td>{{ fuelRateText }}</td>
						   <td class="right">{{ car.fuelRate }} L/100 km</td>
						</tr>
						<tr class="buy" @click="buyCar(car.model)">
						   <td>{{ priceText }}</td>
						   <td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
						</tr>
					 </table>
				  </div>
			   </div>
			</div>
		 </div> -->
	</body>
</html>


<script>
const app = new Vue({
	el: '#app',
	data: {
		id: 0,
		title: "Concessionnaire 2 Roues",
		margin: 0,
		modelText: "Model",
		fuelTankText: "Réservoir",
		fuelRateText: "Consommation",
		priceText: "Buy",
		hideText: true,
		cars: [
			{
                hideText: true,
                model: "bati",
                title: "Bati",
                fuelTank: 45,
                fuelRate: 11,
                price: 20000,
			},                
			{
                hideText: true,
                model: "faggio",
                title: "Principe Faggio",
                fuelTank: 35,
                fuelRate: 70,
                price: 3000,
            },
            {
                hideText: true,
                model: "bf400",
                title: "BF400",
                fuelTank: 45,
                fuelRate: 100,
                price: 25000,
            },
            {
                hideText: true,
                model: "enduro",
                title: "Enduro",
                fuelTank: 55,
                fuelRate: 140,
                price: 25750,
            },
            {
                hideText: true,
                model: "sanchez2",
                title: "Maibatsu Sanchez",
                fuelTank: 45,
                fuelRate: 140,
                price: 30000,
            },
            {
                hideText: true,
                model: "vader",
                title: "Shitzu Vader",
                fuelTank: 45,
                fuelRate: 135,
                price: 37500,
            },
            {
                hideText: true,
                model: "hakuchou",
                title: "Shitzu Hakuchou",
                fuelTank: 45,
                fuelRate: 135,
                price: 50000,
            },
            {
                hideText: true,
                model: "nightblade",
                title: "Western Nightblade",
                fuelTank: 50,
                fuelRate: 180,
                price: 50000,
            },
            {
                hideText: true,
                model: "double",
                title: "Dinka Double T",
                fuelTank: 50,
                fuelRate: 120,
                price: 55750,
            },
            {
                hideText: true,
                model: "nemesis",
                title: "Principe Nemesis",
                fuelTank: 45,
                fuelRate: 135,
                price: 60000,
            },
		],
	},
	methods: {
		prettify: function(num) {
			let n = parseFloat(num.toFixed()).toString();
			const separator = " ";
			return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
		},
		buyCar: function(model) {
			const obj = { model: model, id: this.id, };
			mp.trigger("cMisc-CallServerEvent", "sCarDealership-BuyCar", JSON.stringify(obj));
			this.exit();
		},

		exit: function() {
			mp.trigger("cCloseCef");
		},
	}
});

function loadRusLang() {
	app.title = "Автосалон эконом класса";
	app.modelText = "Модель";
	app.fuelTankText = "Бензобак";
	app.fuelRateText = "Расход";
	app.priceText = "Купить";
}

function loadGerLang() {
	app.title = "Motor Show Economy Klasse";
	app.modelText = "Das Modell";
	app.fuelTankText = "Kraftstofftank";
	app.fuelRateText = "Verbrauch";
	app.priceText = "Kaufen Sie jetzt";
}

function loadBrLang() {
	app.title = "Loja de Carros";
	app.modelText = "Modelo";
	app.fuelTankText = "Tanque de combustível";
	app.fuelRateText = "Taxa de combustível";
	app.priceText = "Comprar";
}

function loadZhsLang() {
	app.title = "廉价车销售";
	app.modelText = "型号";
	app.fuelTankText = "油量";
	app.fuelRateText = "油耗";
	app.priceText = "价格";
}
function loadZhtLang() {
	app.title = "廉價車銷售";
	app.modelText = "型號";
	app.fuelTankText = "油量";
	app.fuelRateText = "油耗";
	app.priceText = "價格";
}
</script>