<html>
  <meta charset="utf-8">
  <link rel="stylesheet" href="collector.css">
  <script src="../../vue.js"></script>
	<body>
		<div id="app">
      <div class="b3-close" @click="exit">X</div>
    
      <div class="message">
        {{ messageText1 }}
        <br><br>
        {{ messageText2 }}
        <br><br>
        {{ messageText3 }}
        <br>
        {{ messageText4 }}
        <br>
        {{ messageText5 }}
        <br>
        {{ messageText6 }}
        <br><br>
        {{ messageText7 }}
      </div>
    
      <div class="buttons" id="app">
        <div class="button" v-if="start" @click="startWork">{{ startText }}</div>
        <div class="button" v-if="finish" @click="finishWork">{{ finishText }}</div>
      </div>
    </div>
	</body>
</html>


<script>
const app = new Vue({
  el: '#app',
  data: {
    start: true,
    finish: false,

    messageText1: "Bienvenue sur les Docks !",
    messageText2: "Ce job est simple, suis simplement ces quelques étapes :",
    messageText3: "1 - Prends t'es fonctions et récupère ton véhicule de service.",
    messageText4: "2 - Va charger ton container.",
    messageText5: "3 - Décharge ton container.",
    messageText6: "4 - Quand le navire est prêt, retourne à la rampe.",
    messageText7: "Attention, les marchandises sont fragiles !",
    startText: "Commencer le job",
    finishText: "Terminer le job",
  },
  methods: {
    loadFinish: function() {
      this.start = false;
      this.finish = true;
    },
    startWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sDockeur-StartWork");
    },
    finishWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sDockeur-FinishWork");
    },
    exit: function() {
      mp.trigger("cCloseCef");
    },
  }
});
</script>
