@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
* {
     margin: 0px; 
     padding: 0px; 
     box-sizing: border-box;
  }

::-webkit-scrollbar {
    display: none;
}
  
body, html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
}

.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    background: #dfe6e9;
}

.panel .panel-head {
    background: #636e72;
    height: 30px;
}

.panel .panel-head h1 {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-indent: 10px;
    font-weight: bolder;
}

.panel .panel-head .close {
    position: absolute;
    height: 30px;
    right: 0px;
    top: 0;
    background: #d63031;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.panel .panel-head .close:hover {
    background: #ff7675;
}

.panel .panel-body {
    overflow: hidden;
    height: calc(100% - 30px);
}

.table-scroll {
    display: block;
    empty-cells: show;
    border-spacing: 0;
}
  
.table-scroll thead {
    background-color: #b2bec3;  
    position:relative;
    display: block;
    width: 100%;
    overflow-y: scroll;
}
  
.table-scroll tbody {
    display: block; 
    position: relative;
    width:100%; 
    overflow-y: scroll;
    border-top: 1px solid rgba(0,0,0,0.2);
    background: #fff;
}
  
.table-scroll tr {
    width: 100%;
    display: flex;
}
  
.table-scroll td,.table-scroll th {
    flex-basis: 100%;
    flex-grow: 2 ;
    display: block;
    padding: 6px;
    text-align: left;
}
.table-scroll th {
    font-size: 14px;
}

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child {
    flex-grow: 1;
}
  
.table-scroll tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}
  
.body-half-screen {
    max-height: calc(100% - 30px);
}
  
.small-col{ flex-basis: 10%; }

.table-scroll tr:hover {background-color: #ddd;}