<html>
  <meta charset="utf-8">
  <link rel="stylesheet" href="collector.css">
  <script src="../../vue.js"></script>
	<body>
		<div id="app">
      <div class="b3-close" @click="exit">X</div>
    
      <div class="message">
        {{ messageText1 }}
        <br><br>
        {{ messageText2 }}
        <br><br>
        {{ messageText3 }}
        <br>
        {{ messageText4 }}
        <br>
        {{ messageText5 }}
        <br>
        {{ messageText6 }}
        <br><br>
        {{ messageText7 }}
      </div>
    
      <div class="buttons" id="app">
        <div class="button" v-if="start" @click="startWork">{{ startText }}</div>
        <div class="button" v-if="finish" @click="finishWork">{{ finishText }}</div>
      </div>
    </div>
	</body>
</html>


<script>
const app = new Vue({
  el: '#app',
  data: {
    start: true,
    finish: false,

    messageText1: "Bienvenue Raffineur :)",
    messageText2: "Alors nous allons t'expliqué comment prendre les fonctions du raffinage :",
    messageText3: "1 - Tu va prendre tes fonctions a l'endroit meme ou tu est actuellement.",
    messageText4: "2 - Prends ta tenue et prend ton camion a l'endroit indiqué.",
    messageText5: "3 - Sur ton GPS se trouve les endroits ou les stations ont besoin d'essence.",
    messageText6: "4 - Une fois les stations pleines tu reviens a la raffinerie sur la rampe.",
    messageText7: "Attention la ville compte sur toi si tu n'est pas présent ou incomptétent une partie de la ville sera sans essence.",
    startText: "Commencer le job",
    finishText: "Terminer le job",
  },
  methods: {
    loadFinish: function() {
      this.start = false;
      this.finish = true;
    },
    startWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sRafineur-StartWork");
    },
    finishWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sRafineur-FinishWork");
    },
    exit: function() {
      mp.trigger("cCloseCef");
    },
  }
});
</script>
