<html>
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">
<script src="../../vue.js"></script>
<body>
<div id="app" class="panel">
    <div class="panel-header">
        <h1 class="panel-title">{{ title }} №{{ id }}</h1>
        <div class="btn-close" id="close-button" @click="exit">X</div>
    </div>
    <div class="panel-body">
        <div class="item" v-for="car of cars">
            <img :src="'img/' + car.model + '.jpg'">
            <div class="item-info">
                <div class="model">{{ car.title }}</div>
                <div class="veh-info_props">
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/fuel.png">
                        <span>{{ car.fuelTank }} L</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/price-tag.png">
                        <span style="color: #00b894;">${{ prettify(car.price + car.price * margin / 400) }}</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/motor.png">
                        <span>{{ car.fuelRate }}L / 100 km</span>
                    </div>
                </div>
                <a class="veh-item" @click="car.buy = !car.buy" :class="[{ lefted: car.buy }]">
                    <span @click="buyCar(car.model)">Acheter</span>
                </a>
            </div>
        </div>
        <!-- <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) #b2bec3', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}" class="item">
            <div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
                <table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>{{ modelText }}</td>
                        <td class="right">{{ car.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ fuelTankText }}</td>
                        <td class="right">{{ car.fuelTank }} L</td>
                    </tr>
                    <tr>
                        <td>{{ fuelRateText }}</td>
                        <td class="right">{{ car.fuelRate }} L/100 km</td>
                    </tr>
                    <tr class="buy" @click="buyCar(car.model)">
                        <td>{{ priceText }}</td>
                        <td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
                    </tr>
                </table>
            </div>
        </div> -->
    </div>
</div>
<!-- <div id="app">
    <div class="b3-close" id="close-button" @click="exit">X</div>
    <div class="title" id="id">{{ title }} №{{ id }}</div>
    <div class="content">
       <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) center', 'background-size': 'cover' }" class="item">
          <div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
             <table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
                <tr>
                   <td>{{ modelText }}</td>
                   <td class="right">{{ car.title }}</td>
                </tr>
                <tr>
                   <td>{{ fuelTankText }}</td>
                   <td class="right">{{ car.fuelTank }} L</td>
                </tr>
                <tr>
                   <td>{{ fuelRateText }}</td>
                   <td class="right">{{ car.fuelRate }} L/100 km</td>
                </tr>
                <tr class="buy" @click="buyCar(car.model)">
                   <td>{{ priceText }}</td>
                   <td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
                </tr>
             </table>
          </div>
       </div>
    </div>
 </div> -->
</body>
</html>


<script>
    const app = new Vue({
        el: '#app',
        data: {
            id: 0,
            title: "Concessionnaire automobile",
            margin: 0,
            modelText: "Model",
            fuelTankText: "Réservoir",
            fuelRateText: "Consommation",
            priceText: "Buy",
            hideText: true,
            cars: [
                {   model: "panto",         title: "Panto",          fuelTank: 40,   fuelRate: 100,  price: 22000,   },
                {   model: "peyote",        title: "Peyote",              fuelTank: 50,   fuelRate: 100,  price: 27000,   },
                {   model: "dloader",       title: "Duneloader",        fuelTank: 75,   fuelRate: 120,  price: 40000,   },
                {   model: "dilettante",    title: "Dilettante",          fuelTank: 45,   fuelRate: 150,  price: 35000,   },
                {   model: "issi2",         title: "Issi",                fuelTank: 50,   fuelRate: 110,  price: 60000,   },
                {   model: "moonbeam",      title: "Moonbeam",         fuelTank: 70,   fuelRate: 130,  price: 65000,   },
                {   model: "rebel",         title: "Rebel",               fuelTank: 65,   fuelRate: 180,  price: 80000,   },
                {   model: "blista",        title: "Blista",              fuelTank: 45,   fuelRate: 110,  price: 80000,   },
                {   model: "prairie",       title: "Prairie",          fuelTank: 55,   fuelRate: 130,  price: 87500,   },
                {   model: "bifta",         title: "Bifta",                  fuelTank: 40,   fuelRate: 160,  price: 125000,   },
                {   model: "emperor",       title: "Emperor",            fuelTank: 60,   fuelRate: 170,  price: 120000,   },
                {   model: "pigalle",       title: "Pigalle",         fuelTank: 55,   fuelRate: 180,  price: 150000,   },
                {   model: "chino2",        title: "Chino Custom",        fuelTank: 65,   fuelRate: 200,  price: 160000,   },
                {   model: "serrano",       title: "Serrano",        fuelTank: 60,   fuelRate: 150,  price: 210000,  },
                {   model: "rancherxl",     title: "RancherXL",        fuelTank: 80,   fuelRate: 230,  price: 210000,  },
                {   model: "buccaneer",     title: "Buccaneer",          fuelTank: 75,   fuelRate: 180,  price: 260000,  },
                {   model: "btype",         title: "B-Type",                    fuelTank: 75,   fuelRate: 240,  price: 260000,  },
                {   model: "glendale",      title: "Glendale",       fuelTank: 60,   fuelRate: 160,  price: 270000,  },
                {   model: "radi",          title: "Radius",              fuelTank: 50,   fuelRate: 180,  price: 290000,  },
                {   model: "rapidgt3",      title: "Rapid GT",       fuelTank: 50,   fuelRate: 200,  price: 290000,  },
                {   model: "xls",           title: "XLS",            fuelTank: 70,   fuelRate: 230,  price: 400000,  },
                {   model: "dominator",     title: "Dominator",           fuelTank: 70,   fuelRate: 230,  price: 500000,  },
                {   model: "tulip",         title: "Tulip",            fuelTank: 50,   fuelRate: 220,  price: 270000,  },
                {   model: "patriot2",      title: "Patriot 2",         fuelTank: 80,   fuelRate: 230,  price: 270000,  },
                {   model: "dominator3",    title: "Dominator GTX",       fuelTank: 60,   fuelRate: 230,  price: 270000,  },
                {   model: "cog55",         title: "Cognoscenti",          fuelTank: 55,   fuelRate: 200,  price: 600000,  },
                {   model: "oracle",        title: "Oracle",          fuelTank: 65,   fuelRate: 250,  price: 600000,  },
                {   model: "fq2",           title: "FQ2",                fuelTank: 80,   fuelRate: 250,  price: 600000,  },
                {   model: "hermes",        title: "Hermes",             fuelTank: 60,   fuelRate: 240,  price: 850000,  },
                {   model: "sultanrs",      title: "Sultan RS",                 fuelTank: 55,   fuelRate: 210,  price: 870000,  },
                {   model: "buffalo2",      title: "Buffalo 2",         fuelTank: 65,   fuelRate: 270,  price: 900000,  },
                {   model: "carbonizzare",  title: "Carbonizzare",       fuelTank: 60,   fuelRate: 290,  price: 1200000,  },
                {   model: "coquette",      title: "Coquette",         fuelTank: 55,   fuelRate: 270,  price: 1250000,  },
                {   model: "jester",        title: "Jester",                    fuelTank: 62,   fuelRate: 300,  price: 1300000,  },
                {   model: "kuruma",        title: "Kuruma",              fuelTank: 60,   fuelRate: 300,  price: 1300000,  },
                {   model: "reaper",        title: "Reaper",            fuelTank: 55,   fuelRate: 300,  price: 1400000,  },
                {   model: "drafter",       title: "Drafter",                 fuelTank: 60,   fuelRate: 270,  price: 1430000,  },
                {   model: "toros",         title: "Toros",             fuelTank: 55,   fuelRate: 320,  price: 1450000,  },
                {   model: "fmj",           title: "FMJ",                 fuelTank: 60,   fuelRate: 300,  price: 1800000,  },
                {   model: "zentorno",      title: "Zentorno",          fuelTank: 55,   fuelRate: 300,  price: 20000000,  },
            ],
        },
        methods: {
            prettify: function (num) {
                let n = parseFloat(num.toFixed()).toString();
                const separator = " ";
                return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
            },
            buyCar: function (model) {
                const obj = {model: model, id: this.id,};
                mp.trigger("cMisc-CallServerEvent", "sCarDealership-BuyCar", JSON.stringify(obj));
                this.exit();
            },

            exit: function () {
                mp.trigger("cCloseCef");
            },
        }
    });

    function loadRusLang() {
        app.title = "Автосалон эконом класса";
        app.modelText = "Модель";
        app.fuelTankText = "Бензобак";
        app.fuelRateText = "Расход";
        app.priceText = "Купить";
    }

    function loadGerLang() {
        app.title = "Motor Show Economy Klasse";
        app.modelText = "Das Modell";
        app.fuelTankText = "Kraftstofftank";
        app.fuelRateText = "Verbrauch";
        app.priceText = "Kaufen Sie jetzt";
    }

    function loadBrLang() {
        app.title = "Loja de Carros";
        app.modelText = "Modelo";
        app.fuelTankText = "Tanque de combustível";
        app.fuelRateText = "Taxa de combustível";
        app.priceText = "Comprar";
    }

    function loadZhsLang() {
        app.title = "廉价车销售";
        app.modelText = "型号";
        app.fuelTankText = "油量";
        app.fuelRateText = "油耗";
        app.priceText = "价格";
    }

    function loadZhtLang() {
        app.title = "廉價車銷售";
        app.modelText = "型號";
        app.fuelTankText = "油量";
        app.fuelRateText = "油耗";
        app.priceText = "價格";
    }
</script>