<html>
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">
<script src="../../vue.js"></script>
<body>
<div id="app" class="panel">
    <div class="panel-header">
        <h1 class="panel-title">{{ title }} №{{ id }}</h1>
        <div class="btn-close" id="close-button" @click="exit">X</div>
    </div>
    <div class="panel-body">
        <div class="item" v-for="car of cars">
            <img :src="'img/' + car.model + '.jpg'">
            <div class="item-info">
                <div class="model">{{ car.title }}</div>
                <div class="veh-info_props">
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/fuel.png">
                        <span>{{ car.fuelTank }} L</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/price-tag.png">
                        <span style="color: #00b894;">${{ prettify(car.price + car.price * margin / 400) }}</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/motor.png">
                        <span>{{ car.fuelRate }}L / 100 km</span>
                    </div>
                </div>
                <a class="veh-item">
                    <span @click="buyCar(car.model)">Acheter</span>
                </a>
            </div>
        </div>
        <div class="item" v-for="car of vips">
            <img :src="'img/' + car.model + '.jpg'">
            <div class="item-info">
                <div class="model">{{ car.title }}</div>
                <div class="veh-info_props">
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/fuel.png">
                        <span>{{ car.fuelTank }} L</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/price-tag.png">
                        <span style="color: #00b894;">${{ prettify(car.price + car.price * margin / 400) }}</span>
                    </div>
                    <div class="veh-info_prop">
                        <img src="../../Menu/img/motor.png">
                        <span>{{ car.fuelRate }}L / 100 km</span>
                    </div>
                </div>
                <a class="veh-item">
                    <span @click="buyCar(car.model)">Acheter</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script>
    const app = new Vue({
        el: '#app',
        data: {
            id: 0,
            title: "Concessionnaire automobile",
            margin: 0,
            modelText: "Model",
            fuelTankText: "Réservoir",
            fuelRateText: "Consommation",
            priceText: "Acheter",
            hideText: true,
            vip: 0,
            vips: [
                {   model: "brioso",         title: "[VIP] Brioso",          fuelTank: 40,   fuelRate: 120,  price: 350000,   },
                {   model: "baller6",         title: "[VIP] Baller blindé",          fuelTank: 80,   fuelRate: 150,  price: 350000,   },
                {   model: "hotknife",         title: "[VIP] Hot Knife",          fuelTank: 60,   fuelRate: 150,  price: 575000,   },
                {   model: "t20",           title: "[VIP] T20",       fuelTank: 60,   fuelRate: 290,  price: 1200000,  },
                {   model: "neo",           title: "[VIP] Neo",                 fuelTank: 60,   fuelRate: 300,  price: 1750000,  },
                {   model: "infernus",           title: "[VIP] Infernus",                 fuelTank: 60,   fuelRate: 300,  price: 1900000,  },
                {   model: "adder",           title: "[VIP] Adder",                 fuelTank: 80,   fuelRate: 280,  price: 2200000,  },
                {   model: "emerus",           title: "[VIP] Emerus",                 fuelTank: 80,   fuelRate: 280,  price: 2400000,  },
            ],
            cars: [
                {   model: "panto",         title: "Panto",          fuelTank: 40,   fuelRate: 100,  price: 22000,   },
                {   model: "peyote",        title: "Peyote",              fuelTank: 50,   fuelRate: 100,  price: 27000,   },
                {   model: "dloader",       title: "Duneloader",        fuelTank: 75,   fuelRate: 120,  price: 40000,   },
                {   model: "dilettante",    title: "Dilettante",          fuelTank: 45,   fuelRate: 150,  price: 35000,   },
                {   model: "issi2",         title: "Issi",                fuelTank: 50,   fuelRate: 110,  price: 60000,   },
                {   model: "moonbeam",      title: "Moonbeam",         fuelTank: 70,   fuelRate: 130,  price: 65000,   },
                {   model: "rebel",         title: "Rebel",               fuelTank: 65,   fuelRate: 180,  price: 80000,   },
                {   model: "blista",        title: "Blista",              fuelTank: 45,   fuelRate: 110,  price: 80000,   },
                {   model: "prairie",       title: "Prairie",          fuelTank: 55,   fuelRate: 130,  price: 87500,   },
                {   model: "bifta",         title: "Bifta",                  fuelTank: 40,   fuelRate: 160,  price: 125000,   },
                {   model: "emperor",       title: "Emperor",            fuelTank: 60,   fuelRate: 170,  price: 120000,   },
                {   model: "pigalle",       title: "Pigalle",         fuelTank: 55,   fuelRate: 180,  price: 150000,   },
                {   model: "chino2",        title: "Chino Custom",        fuelTank: 65,   fuelRate: 200,  price: 160000,   },
                {   model: "serrano",       title: "Serrano",        fuelTank: 60,   fuelRate: 150,  price: 210000,  },
                {   model: "rancherxl",     title: "RancherXL",        fuelTank: 80,   fuelRate: 230,  price: 210000,  },
                {   model: "surge",     	title: "Tesla Surge",        fuelTank: 40,   fuelRate: 40,  price: 250000,  },
                {   model: "buccaneer",     title: "Buccaneer",          fuelTank: 75,   fuelRate: 180,  price: 260000,  },
                {   model: "glendale",      title: "Glendale",       fuelTank: 60,   fuelRate: 160,  price: 270000,  },
                {   model: "radi",          title: "Radius",              fuelTank: 50,   fuelRate: 180,  price: 290000,  },
                {   model: "rapidgt3",      title: "Rapid GT",       fuelTank: 50,   fuelRate: 200,  price: 290000,  },
                {   model: "xls",           title: "XLS",            fuelTank: 70,   fuelRate: 230,  price: 400000,  },
                {   model: "dominator",     title: "Dominator",           fuelTank: 70,   fuelRate: 230,  price: 500000,  },
                {   model: "tulip",         title: "Tulip",            fuelTank: 50,   fuelRate: 220,  price: 270000,  },
                {   model: "patriot2",      title: "Patriot 2",         fuelTank: 80,   fuelRate: 230,  price: 270000,  },
                {   model: "dominator3",    title: "Dominator GTX",       fuelTank: 60,   fuelRate: 230,  price: 270000,  },
                {   model: "cog55",         title: "Cognoscenti",          fuelTank: 55,   fuelRate: 200,  price: 600000,  },
                {   model: "oracle",        title: "Oracle",          fuelTank: 65,   fuelRate: 250,  price: 600000,  },
                {   model: "fq2",           title: "FQ2",                fuelTank: 80,   fuelRate: 250,  price: 600000,  },
                {   model: "hermes",        title: "Hermes",             fuelTank: 60,   fuelRate: 240,  price: 850000,  },
                {   model: "sultanrs",      title: "Sultan RS",                 fuelTank: 55,   fuelRate: 210,  price: 870000,  },
                {   model: "buffalo2",      title: "Buffalo 2",         fuelTank: 65,   fuelRate: 270,  price: 900000,  },
                {   model: "carbonizzare",  title: "Carbonizzare",       fuelTank: 60,   fuelRate: 290,  price: 1200000,  },
                {   model: "coquette",      title: "Coquette",         fuelTank: 55,   fuelRate: 270,  price: 1250000,  },
                {   model: "jester",        title: "Jester",                    fuelTank: 62,   fuelRate: 300,  price: 1300000,  },
                {   model: "kuruma",        title: "Kuruma",              fuelTank: 60,   fuelRate: 300,  price: 1300000,  },
                {   model: "reaper",        title: "Reaper",            fuelTank: 55,   fuelRate: 300,  price: 1400000,  },
                {   model: "drafter",       title: "Drafter",                 fuelTank: 60,   fuelRate: 270,  price: 1430000,  },
                {   model: "toros",         title: "Toros",             fuelTank: 55,   fuelRate: 320,  price: 1450000,  },
                {   model: "fmj",           title: "FMJ",                 fuelTank: 60,   fuelRate: 300,  price: 1800000,  },
                {   model: "zentorno",      title: "Zentorno",          fuelTank: 55,   fuelRate: 300,  price: 2000000,  },
            ],
        },
        methods: {
            prettify: function (num) {
                let n = parseFloat(num.toFixed()).toString();
                const separator = " ";
                return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
            },
            buyCar: function (model) {
                const obj = {model: model, id: this.id,};
                mp.trigger("cMisc-CallServerEvent", "sCarDealership-BuyCar", JSON.stringify(obj));
                this.exit();
            },

            exit: function () {
                mp.trigger("cCloseCef");
            },
        }
    });
</script>