<html>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/main.css">
	<script src="../../vue.js"></script>
	<body>
		<div id="app" class="panel">
			<div class="panel-header">
				<h1 class="panel-title">{{ title }} №{{ id }}</h1>
				<div class="btn-close" id="close-button" @click="exit">X</div>
			</div>
			<div class="panel-body">
				<div class="item" v-for="wep of weapons">
					<img :src="'img/' + wep.model + '.png'">
					<div class="item-info">
						<div class="model">{{ wep.title }}</div>
						<div class="veh-info_props">
							<div class="veh-info_prop">
								<img src="../../Menu/img/price-tag.png">
								<span style="color: #00b894;">${{ prettify(wep.price + wep.price * margin / 400) }}</span>
                            </div>
							<div class="veh-info_prop" v-if="wep.ammo >= 1">
                                <img src="img/shell.png">
                                <span style="color: #00b894;">${{ prettify(wep.ammo + wep.ammo * margin / 400) }}</span>
                            </div>
						</div>
                        <a class="veh-item" v-if="wep.ammo >= 1">
                            <span @click="buyAmmo(wep.hash, wep.ammo)">Acheter des munitions</span>
                        </a>
                        <a v-else>
                            <br><br>
                        </a>
                        <a class="veh-item">
                            <span @click="buyWeapon(wep.hash, wep.price)">Acheter l'arme</span>
                        </a>
					</div>
				</div>
				<!-- <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) #b2bec3', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat'}" class="item">
					<div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
						<table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>{{ modelText }}</td>
								<td class="right">{{ car.title }}</td>
							</tr>
							<tr>
								<td>{{ fuelTankText }}</td>
								<td class="right">{{ car.fuelTank }} L</td>
							</tr>
							<tr>
								<td>{{ fuelRateText }}</td>
								<td class="right">{{ car.fuelRate }} L/100 km</td>
							</tr>
							<tr class="buy" @click="buyCar(car.model)">
								<td>{{ priceText }}</td>
								<td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
							</tr>
						</table>
					</div>
				</div> -->
			</div>
		</div>
		<!-- <div id="app">
			<div class="b3-close" id="close-button" @click="exit">X</div>
			<div class="title" id="id">{{ title }} №{{ id }}</div>
			<div class="content">
			   <div v-for="car in cars" :style="{ 'background': 'url(img/' + car.model + '.jpg) center', 'background-size': 'cover' }" class="item">
				  <div class="item-bg-color" @mouseover="car.hideText = false" @mouseout="car.hideText = true">
					 <table class="item-table" :class="{ hideText: car.hideText }" border="0" cellpadding="0" cellspacing="0">
						<tr>
						   <td>{{ modelText }}</td>
						   <td class="right">{{ car.title }}</td>
						</tr>
						<tr>
						   <td>{{ fuelTankText }}</td>
						   <td class="right">{{ car.fuelTank }} L</td>
						</tr>
						<tr>
						   <td>{{ fuelRateText }}</td>
						   <td class="right">{{ car.fuelRate }} L/100 km</td>
						</tr>
						<tr class="buy" @click="buyCar(car.model)">
						   <td>{{ priceText }}</td>
						   <td class="right price">{{ prettify(car.price + car.price * margin / 400) }}</td>
						</tr>
					 </table>
				  </div>
			   </div>
			</div>
		 </div> -->
	</body>
</html>


<script>
const app = new Vue({
	el: '#app',
	data: {
		id: 0,
		title: "Ammunation",
		margin: 0,
		modelText: "Model",
		fuelTankText: "Réservoir",
		fuelRateText: "Consommation",
		priceText: "Buy",
		hideText: true,
		weapons: [
			{
				hideText: true,
				model: "wrench",
                title: "Clé anglaise",
                hash: 0x19044EE0,
                price: 1000,
                ammo: 0,
			},
			{
				hideText: true,
				model: "brass",
                title: "Poing Americain",
                hash: 0xD8DF3C3C,
                price: 1000,
                ammo: 0,
            },
			{
				hideText: true,
				model: "bat",
                title: "Batte",
                hash: 0x958A4A8F,
                price: 1000,
                ammo: 0,
            },
			{
				hideText: true,
				model: "knife",
                title: "Couteau",
                hash: 0x99B507EA,
                price: 1700,
                ammo: 0,
            },
			{
				hideText: true,
				model: "pistol",
                title: "Pistolet",
                hash: 0x1B06D571,
                price: 5000,
                ammo: 375,
            },
			{
				hideText: true,
				model: "combatpistol",
                title: "Pistolet de Combat",
                hash: 0x5EF9FEC4,
                price: 7000,
                ammo: 525,
            },
			{
				hideText: true,
				model: "mk2",
                title: "Pistolet MK2",
                hash: 0x88374054,
                price: 8000,
                ammo: 565,
            },
			{
				hideText: true,
				model: "musket",
                title: "Musket",
                hash: 0xA89CB99E,
                price: 15000,
                ammo:  800,
			},
		],
	},
	methods: {
		prettify: function(num) {
			let n = parseFloat(num.toFixed()).toString();
			const separator = " ";
			return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
		},
		buyWeapon: function(hash, price) {
			const obj = { hash: hash, id: this.id, price: price };
			mp.trigger("cMisc-CallServerEvent", "sAmmunations-BuyWeapon", JSON.stringify(obj));
        },
		buyAmmo: function(hash, price) {
			const obj = { hash: hash, id: this.id, price: price };
			mp.trigger("cMisc-CallServerEvent", "sAmmunations-BuyAmmo", JSON.stringify(obj));
		},
		exit: function() {
			mp.trigger("cCloseCef");
		},
	}
});
</script>