<html>
  <meta charset="utf-8">
  <link rel="stylesheet" href="collector.css">
  <script src="../../vue.js"></script>
	<body>
		<div id="app">
      <div class="b3-close" @click="exit">X</div>
    
      <div class="message">
        {{ messageText1 }}
        <br><br>
        {{ messageText2 }}
        <br><br>
        {{ messageText3 }}
        <br>
        {{ messageText4 }}
        <br>
        {{ messageText5 }}
        <br>
        {{ messageText6 }}
        <br><br>
        {{ messageText7 }}
      </div>
    
      <div class="buttons" id="app">
        <div class="button" v-if="start" @click="startWork">{{ startText }}</div>
        <div class="button" v-if="finish" @click="finishWork">{{ finishText }}</div>
      </div>
    </div>
	</body>
</html>


<script>
const app = new Vue({
  el: '#app',
  data: {
    start: true,
    finish: false,

    messageText1: "Salut a toi employé !",
    messageText2: "Nous allons t'expliquer le but de se métier tous d'abord sache que sans toi Los Santos serais une vraie déchetterie, nous comptons donc sur toi pour nettoyer la ville de ses ordures ménagere.",
    messageText3: "1 - tu dois prendre ton service a l'endroit meme ou tu te trouve.",
    messageText4: "2 - ensuite prendre ton camion qui se trouve juste derrière toi.",
    messageText5: "3 - Ta mission es biensur de nétoyer la ville tu pars donc sur les points que ton GPS indique jusqu'a ce que ta benne soit pleine.",
    messageText6: "4 - Une fois pleine, retourne à la décharge vider ton camion pour récupérer ton salaire.",
    messageText7: "Atttention ce métier est très important pour le bien de Los Santos nous avons confiance en toi.",
    startText: "Commencer le job",
    finishText: "Terminer le job",
  },
  methods: {
    loadFinish: function() {
      this.start = false;
      this.finish = true;
    },
    startWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sEboueur-StartWork");
    },
    finishWork: function() {
      this.exit();
      mp.trigger("cMisc-CallServerEvent", "sEboueur-FinishWork");
    },
    exit: function() {
      mp.trigger("cCloseCef");
    },
  }
});
</script>
