/* ::-webkit-scrollbar {
    display: none;
} */

.phone {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 580px;
    width: 290px;
    background: red;
    border-radius: 54px;
}

.phone img {
    width: calc(100% + 3px);
    margin-left: -2px;
    z-index: 100;
    position: relative;
}

.phone .phone-footer {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0px;
    background: rgb(129, 236, 236, .9);
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
}

.phone .phone-footer .sms.active,
.phone .phone-footer .call.active,
.phone .phone-footer .contact.active,
.phone .phone-footer .cog.active {
    border: 2px solid #ffeaa7;
    border-radius: 15px;
}

.phone .phone-footer .sms {
    background: url('../images/sms.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 101;
    top: calc(50% - 5px);
    right: 32%;
    transform: translateY(-50%);
}

.phone .phone-footer .cog {
    background: url('../images/cog.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 101;
    top: calc(50% - 5px);
    right: 13%;
    transform: translateY(-50%);
}

.phone .phone-footer .call {
    background: url('../images/call.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 101;
    top: calc(50% - 5px);
    left: 32%;
    transform: translateY(-50%);
}

.phone .phone-footer .contact {
    background: url('../images/contact.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 101;
    top: calc(50% - 5px);
    left: 13%;
    transform: translateY(-50%);
}

.phone .phone-call {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background: #1C1716;
    border-radius: 54px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

.phone .phone-messages, 
.phone .phone-conversation {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background: #fff;
    border-radius: 54px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.phone .phone-messages .head, 
.phone .phone-conversation .head  {
    background: #f1f1f1;
    padding: 30px 0px 0px 30px;
    height: 50px;
    border-bottom: 1px solid #dfe6e9;
}
.phone .phone-conversation .head h1 {
    font-size: 19px;
    text-indent: 28px;
    margin-top: 14px;
}
.phone .phone-messages .head h1 {
    font-size: 22px;
}

.phone .phone-conversation .head i {
    position: absolute;
    left: 33px;
    top: 47px;
    color: #0984e3;
    font-size: 20px;
}

.phone .phone-messages .head i {
    position: absolute;
    right: 33px;
    top: 47px;
    color: #0984e3;
    font-size: 20px;
}

.phone .phone-messages ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.phone .phone-messages li {
    height: 50px;
    border-bottom: 0.01em solid #dfe6e9;
    position: relative;
}

.phone .phone-messages li.active {
    background: #dfe6e9;
}
.phone .avatar {
    float: left;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin-left: 30px;
    margin-top: 7px;
    background: rgb(99,110,114);
    background: linear-gradient(140deg, rgba(99,110,114,1) 0%, rgba(57,65,68,1) 100%);
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 13px;
}
.phone .phone-messages h3 {
    font-size: 13px;
    position: absolute;
    left: 75px;
    top: -9px;
}

.phone .phone-messages p {
    font-size: 11px;
    position: absolute;
    left: 75px;
    top: 9px;
    color: #929292; 
    width: 190px; 
}

.phone .phone-messages i {
    position: absolute;
    color: #929292;
    font-size: 9px;
    font-weight: 100;
    right: 25px;
    top: 8px;
}

.phone .phone-messages .time {
    position: absolute;
    color: #929292;
    font-size: 10px;
    font-weight: 400;
    right: 40px;
    top: 6px;
    text-align: right
}

.chat {
    width: calc(100% - 61px);
    padding: 0px 29px;
    font-size: 12px;
    height: calc(100% - 95px);
    position: relative;
    overflow-y: scroll;
    z-index: 1;
}

.reply {
    background: rgba(255, 255, 255, .8);
    width: 100%;
    min-height: 53px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    padding: 12px 0px;
}
.reply textarea {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 11px;
    top: 5px;    
    resize: none;
    outline: none;
    min-height: 30px;
    padding: 5px;
}

.reply textarea:focus {
    border-width: 2px;
}
  
.reply .send {
    width: 23px;
    height: 23px;
    position: absolute;
    background: #0984e3;
    right: 35px;
    bottom: 26px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
}

.reply .send:focus {
    background: #74b9ff;
}
  .messages {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
  .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }
  
  .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }
  
.phone-conversation input {
    background: #f1f1f1;
    border: navajowhite;
    width: 100%;
    height: 30px;
    outline: none;
    text-indent: 50px;
}

.phone-conversation .sms-to {
    position: absolute;
    color: #0984e3;
    left: 23px;
    font-size: 13px;
    margin-top: 8px;
}

.contacts li {
    height: 30px !important;
    line-height: 29px;
    text-indent: 26px;
}

.btn-confirm {
    background: #0984e3;
    position: absolute;
    height: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 12px;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    border: none;
    outline: none;
}
.btn-confirm:focus {
    background: #74b9ff;
}

#callContact {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
}

#callStatut {
    text-align: center;
    margin-top: -10px;
    color: #fff;
    font-size: 13px;
    width: 100%;
    display: block; 
}

#declineCall {
    width: 50px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}